.designList {
    .row {
        & {
            height: 417px;
            padding-top: 80px;
            padding-bottom: 52px;
        }

        img {
            width: 100%;
            height: 285px;
        }

        .time {
            height: 285px;
            p {
                margin: 0px;
            }
        }
    }
}
